node_modules
.vite-hooks
.zed
dist
coverage
reports
test-results
.nuxt
.output
.data
.nitro
.cache
.generated
**/.nuxt
**/.output
**/.data
**/.nitro
**/.generated
**/node_modules/.cache
**/node_modules/.vite
**/node_modules/.vite-temp
docs/types/auto-imports.d.ts
docs/types/mdc-runtime.d.ts
packages/*/dist
packages/*/*.tgz
*.log
.DS_Store
