node_modules
.vite-hooks
.zed
dist
coverage
reports
test-results
.nuxt
.output
.data
.nitro
.cache
.swc
.generated
.vitehub
.sandcastle
.fallow
.wrangler
**/.nuxt
**/.output
**/.data
**/.nitro
**/.generated
**/.vitest-tmp
**/.vitehub
**/.fallow
**/.wrangler
**/node_modules/.cache
**/node_modules/.vite
**/node_modules/.vite-temp
docs/types/auto-imports.d.ts
docs/types/mdc-runtime.d.ts
packages/*/dist
packages/*/*.tgz
*.tsbuildinfo
*.log
.DS_Store
.vercel
**/.netlify
.env*.local
